::-webkit-scrollbar { 
    display: none; 
}

*{
	box-sizing: border-box;
}

body{
	margin: 0.5em;
	font-size: 16px;	 
	min-width: 48em;
	max-width: 48em;
}

#golbal{
	max-width: 800px;
}

#first_row{
	margin-bottom: 2em;
}