body{
	font-size: 16px;
	max-width: 48em;
	min-width: 30em; 
}

.info{
	font-size: 14px;
	margin-bottom: 0.5em; 
}

.first_form{
	margin-bottom: 2.5em;
}

#delete_option{	
	text-shadow: none;
	color:black;
}